In [8]:
import numpy as np
import pandas as pd

In [9]:
dataset = pd.read_csv('/home/ishita/Documents/datasets/loan_prediction.csv')

In [10]:
dataset.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [11]:
dataset.shape

(614, 13)

In [12]:
dataset.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [13]:
dataset.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [14]:
dataset = dataset.dropna()

In [15]:
dataset.shape

(480, 13)

In [16]:
dataset.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [18]:
dataset.value_counts('Dependents')

Dependents
0     274
2      85
1      80
3+     41
dtype: int64

In [20]:
dataset = dataset.replace(to_replace = '3+', value = 4)

In [21]:
dataset.value_counts('Dependents')

Dependents
0    274
2     85
1     80
4     41
dtype: int64

In [39]:
print(dataset.value_counts('Gender'),"\n")
print(dataset.value_counts('Married'),"\n")
print(dataset.value_counts('Education'),"\n")
print(dataset.value_counts('Self_Employed'),"\n")
print(dataset.value_counts('Property_Area'),"\n")
print(dataset.value_counts('Loan_Status'))

Gender
Male      394
Female     86
dtype: int64

Married
Yes    311
No     169
dtype: int64

Education
Graduate        383
Not Graduate     97
dtype: int64

Self_Employed
No     414
Yes     66
dtype: int64

Property_Area
Semiurban    191
Urban        150
Rural        139
dtype: int64

Loan_Status
Y    332
N    148
dtype: int64

In [40]:
dataset=dataset.replace({'Gender':{'Male':0,'Female':1},'Married':{'No':0,'Yes':1},'Education':{'Graduate':0,'Not Graduate':1},'Self_Employed':{'No':0,'Yes':1},'Property_Area':{'Semiurban':0,'Urban':1,'Rural':2},'Loan_Status':{'Y':1,'N':0}})
dataset.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,0,1,1,0,0,4583,1508.0,128.0,360.0,1.0,2,0
2,LP001005,0,1,0,0,1,3000,0.0,66.0,360.0,1.0,1,1
3,LP001006,0,1,0,1,0,2583,2358.0,120.0,360.0,1.0,1,1
4,LP001008,0,0,0,0,0,6000,0.0,141.0,360.0,1.0,1,1
5,LP001011,0,1,2,0,1,5417,4196.0,267.0,360.0,1.0,1,1

In [41]:
X = dataset.drop(columns = ['Loan_ID','Loan_Status'],axis=1)

In [42]:
Y = dataset['Loan_Status']

In [43]:
print(X)
print(Y)

     Gender  Married Dependents  Education  Self_Employed  ApplicantIncome  \
1         0        1          1          0              0             4583
2         0        1          0          0              1             3000
3         0        1          0          1              0             2583
4         0        0          0          0              0             6000
5         0        1          2          0              1             5417
..      ...      ...        ...        ...            ...              ...
609       1        0          0          0              0             2900
610       0        1          4          0              0             4106
611       0        1          1          0              0             8072
612       0        1          2          0              0             7583
613       1        0          0          0              1             4583

     CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
1               1508.0       128.0             360.0             1.0
2                  0.0        66.0             360.0             1.0
3               2358.0       120.0             360.0             1.0
4                  0.0       141.0             360.0             1.0
5               4196.0       267.0             360.0             1.0
..                 ...         ...               ...             ...
609                0.0        71.0             360.0             1.0
610                0.0        40.0             180.0             1.0
611              240.0       253.0             360.0             1.0
612                0.0       187.0             360.0             1.0
613                0.0       133.0             360.0             0.0

     Property_Area
1                2
2                1
3                1
4                1
5                1
..             ...
609              2
610              2
611              1
612              1
613              0

[480 rows x 11 columns]
1      0
2      1
3      1
4      1
5      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 480, dtype: int64

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, stratify=Y, random_state=2)

In [45]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train,Y_train)

/home/ishita/.local/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [46]:
#K nearest neighbors Algorithm
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 24)#, metric = 'minkowski' , p = 2)
knn.fit(X_train, Y_train)

KNeighborsClassifier(n_neighbors=24)

In [47]:
#Support Vector Machine
from sklearn.svm import SVC
svm = SVC(kernel = 'linear', random_state = 42)
svm.fit(X_train,Y_train)

SVC(kernel='linear', random_state=42)

In [48]:
#Decision tree
from sklearn.tree import DecisionTreeClassifier
dectree = DecisionTreeClassifier(criterion = 'entropy',random_state=42)
dectree.fit(X_train,Y_train)

DecisionTreeClassifier(criterion='entropy', random_state=42)

In [49]:
#Naive Bayes
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(X_train,Y_train)

GaussianNB()

In [51]:
#Random Forest
from sklearn.ensemble import RandomForestClassifier
ranfor = RandomForestClassifier(n_estimators = 11, criterion = 'entropy', random_state = 42)
ranfor.fit(X_train,Y_train)

RandomForestClassifier(criterion='entropy', n_estimators=11, random_state=42)

In [53]:
from sklearn.metrics import accuracy_score

In [54]:
#Logestic Regression
X_train_prediction_log = model.predict(X_train)
training_data_accuracy_log = accuracy_score(X_train_prediction_log,Y_train)

In [55]:
#KNN
X_train_prediction_knn = knn.predict(X_train)
training_data_accuracy_knn = accuracy_score(X_train_prediction_knn,Y_train)

In [57]:
#SVM
X_train_prediction_svm = svm.predict(X_train)
training_data_accuracy_svm = accuracy_score(X_train_prediction_svm,Y_train)

In [58]:
#Naive Bayes
X_train_prediction_nb = nb.predict(X_train)
training_data_accuracy_nb = accuracy_score(X_train_prediction_nb,Y_train)

In [59]:
#Decision Tree
X_train_prediction_dectree = dectree.predict(X_train)
training_data_accuracy_dectree = accuracy_score(X_train_prediction_dectree,Y_train)

In [60]:
#Random Forest
X_train_prediction_ranfor = ranfor.predict(X_train)
training_data_accuracy_ranfor = accuracy_score(X_train_prediction_ranfor,Y_train)

In [61]:
print('Logistic Regression: ',training_data_accuracy_log)
print('K Nearest Neighbours: ',training_data_accuracy_knn)
print('Support Vector Machine: ',training_data_accuracy_svm)
print('Naive Bayes: ',training_data_accuracy_nb)
print('Decision Tree: ',training_data_accuracy_dectree)
print('Random Forest: ',training_data_accuracy_ranfor)

Logistic Regression:  0.7916666666666666
K Nearest Neighbours:  0.7
Support Vector Machine:  0.7527777777777778
Naive Bayes:  0.7972222222222223
Decision Tree:  1.0
Random Forest:  0.9833333333333333

In [62]:
#Prediction on test data

In [63]:
#Logestic Regression
X_test_prediction_log = model.predict(X_test)
testing_data_accuracy_log = accuracy_score(X_test_prediction_log,Y_test)

In [64]:
#KNN
X_test_prediction_knn = knn.predict(X_test)
testing_data_accuracy_knn = accuracy_score(X_test_prediction_knn,Y_test)

In [66]:
#SVM
X_test_prediction_svm = svm.predict(X_test)
testing_data_accuracy_svm = accuracy_score(X_test_prediction_svm,Y_test)

In [67]:
#Naive Bayes
X_test_prediction_nb = nb.predict(X_test)
testing_data_accuracy_nb = accuracy_score(X_test_prediction_nb,Y_test)

In [68]:
#Decision Tree
X_test_prediction_dectree = dectree.predict(X_test)
testing_data_accuracy_dectree = accuracy_score(X_test_prediction_dectree,Y_test)

In [69]:
#Random Forest
X_test_prediction_ranfor = ranfor.predict(X_test)
testing_data_accuracy_ranfor = accuracy_score(X_test_prediction_ranfor,Y_test)

In [70]:
print('Logistic Regression: ',testing_data_accuracy_log)
print('K Nearest Neighbours: ',testing_data_accuracy_knn)
print('Support Vector Machine: ',testing_data_accuracy_svm)
print('Naive Bayes: ',testing_data_accuracy_nb)
print('Decision Tree: ',testing_data_accuracy_dectree)
print('Random Forest: ',testing_data_accuracy_ranfor)

Logistic Regression:  0.7666666666666667
K Nearest Neighbours:  0.6833333333333333
Support Vector Machine:  0.7666666666666667
Naive Bayes:  0.825
Decision Tree:  0.6666666666666666
Random Forest:  0.75